body {
    background-image: url("images/tiles/marble2.gif");
    background-attachment: scroll;
    background-repeat: repeat;
    color: #FFFFFF;
    height: 100%;
  }

  .maincontainer {
    /* background-color: rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply; */
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
  }

  .title {
    font-family: Georgia;
    color: #8a3d53;
    font-size: 60px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 40px;
  }
  #line1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .p1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 10px;
    margin-top: 0px;
  }
  .p2 {
    font-family: 'Courier New', Courier, monospace;
    color: #484848;
    font-size: 16px;
    margin-top: 5px;
    text-align: justify;
  }
  .nav-style {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #484848;
    font-size: 16px;
    margin-top: 20px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
  }

  .wrapper {
    width: 100%;
    height: 67vh;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .lcontent {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    color: #5e5558;
    width: 65%;
    float: left;
    /* border-right: 1.5px solid #5e5558; */
    box-sizing: border-box;
    padding-right: 15px;
    height: 100%;
  }

  .rcontent {
    font-size: 22px;
    font-family: Cambria;
    color: black;
    /* float: left; */
    width: auto;
    box-sizing: border-box;
    /* height: 100%; */
    position: relative;
    overflow: hidden;
    padding-left: 15px;
  }

  .rcontent-in {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .bouncy-img {
    width: 300px;
    height: auto;
    position: absolute;
    transition: transform 0.1s linear;
    transition: filter 0.3s ease-in-out;
    user-select: none;
    border-radius: 15px;
    filter: grayscale(100%)
  }

  .bouncy-img:hover {
    filter: grayscale(0%);
  }

  .p0 {
    font-family: 'Anton';
    color: #484848;
    font-size: 22px;
    margin: 0;
  }
  
  .rocket {
    filter: grayscale(100%);
  }

a:link {
  text-decoration: none;
  color: inherit
}

a:visited {
  text-decoration: none;
  color: inherit
}

a:hover {
  text-decoration: underline;
  color: inherit
}

a:active {
  text-decoration: underline;
  color: inherit
}